<!-- farmacia_jesus/templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>FARMACIA JESUS</title>
</head>
<body>
    <h1>FARMACIA JESUS</h1>
    <h2>Selecciona una opción:</h2>
    <ul>
        <li><a href="{% url 'producto-list' %}">Productos</a></li>
        <li><a href="{% url 'proveedor-list' %}">Proveedores</a></li>
        <li><a href="{% url 'categoria-list' %}">Categorías</a></li>
        <li><a href="{% url 'cliente-list' %}">Clientes</a></li>
        <li><a href="{% url 'receta-list' %}">Receta</a></li>
    </ul>
</body>
</html>
