<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo de Farmacia Jesús</title>
</head>
<body>
    <h3>Estimado(a) {{ nombre }},</h3>
    <p>Le informamos que su pedido ha sido procesado exitosamente.</p>
    <p>Gracias por su preferencia.</p>
    <br>
    <p><small>Este correo ha sido generado automáticamente. Por favor, no responda.</small></p>
</body>
</html>
