<!-- farmacia_jesus/templates/enviar_correo.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Enviar Correo</title>
</head>
<body>
    <h1>Enviar Correo</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="recipient">Correo Destinatario:</label>
        <input type="email" name="recipient" id="recipient" required>
        <br>
        <button type="submit">Enviar Correo</button>
    </form>
    <a href="{% url 'home' %}">Volver a Inicio</a>
</body>
</html>