{% extends 'base.html' %}

{% block title %}
Enviar Correo
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Enviar Correo</h1>
    <form method="POST" class="col-md-6 mx-auto">
        {% csrf_token %}
        <div class="mb-3">
            <label for="recipient" class="form-label">Correo Destinatario:</label>
            <input type="email" name="recipient" id="recipient" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-dark">Enviar Correo</button>
    </form>
    <a href="{% url 'home' %}" class="btn btn-outline-dark mt-3">Volver a Inicio</a>
</div>
{% endblock %}
